/* Custom Color Variables */
.bg-darkest {
  background-color: #161921; }

.bg-dark {
  background-color: #1b202b !important; }

.bg-med {
  background-color: #212735; }

.bg-light {
  background-color: #262f3f !important; }

.bg-primary {
  background-color: #3b84df !important; }

.bg-secondary {
  background-color: #d26d22 !important; }

.bg-third {
  background-color: #43a047; }

.text-active {
  color: rgba(255, 255, 255, 0.75) !important; }

.text-inactive {
  color: #b2b5bb !important; }

.nav-link {
  color: rgba(255, 255, 255, 0.75); }

.navbar-nav {
  flex-direction: row; }
  .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important; }

#nav-coin {
  max-height: 0.65rem;
  margin-right: 1rem;
  margin-top: 10%;
  float: left; }

.nav-btn-coin-wrapper {
  padding-top: 0.1rem !important;
  padding-bottom: 0.2rem !important; }
  .nav-btn-coin-wrapper span {
    display: inline-flex;
    margin-bottom: auto;
    padding-bottom: 0.1rem !important;
    padding-top: 0.1rem !important; }

.nav-btn-coins {
  padding: 0.1rem 1rem 0.2rem 0.1rem !important; }

.sidebar {
  margin-top: 0;
  min-height: calc(100vh - 56px);
  padding-right: 2rem !important;
  margin-right: -5rem; }

.game-screen {
  height: calc(80vh - 56px);
  min-height: 20rem;
  border-bottom: 1px solid #3b84df;
  border-left: 1px solid #3b84df;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  /* max-height:  75vh - 56px; */ }

.main-window {
  right: -5rem; }

.chat-screen {
  height: calc(20vh - 56px);
  min-height: 10rem;
  /* border-top: 1px solid $bg-primary !important; */
  background-color: #1b202b; }

.nav-btn {
  background-color: #212735;
  color: #b2b5bb;
  border-radius: 4px;
  margin-right: 1rem;
  padding: 0.25rem; }
  .nav-btn span {
    font-size: small;
    padding: 1rem;
    padding-bottom: 2rem; }

.side-nav {
  margin-left: 15px; }

.side-nav-item {
  margin: 0; }

.side-nav-icon {
  margin-left: -11px;
  margin-top: 1rem;
  margin-right: 0; }

.side-nav-label {
  margin-top: 0.75rem; }

.side-nav-bottom-btns {
  position: sticky;
  top: calc(90vh - 56px); }

a.nav-item {
  color: #b2b5bb; }

a.nav-item:hover {
  font-size: large;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none; }
  a.nav-item:hover .side-nav-icon {
    filter: drop-shadow(0.1rem 0.1rem 0.5rem #7f7f7f); }

.chat-btns {
  border: 1px solid #161921;
  font-size: small;
  color: #b2b5bb;
  padding-left: 1px;
  padding-right: 1px;
  border-bottom: none; }
  .chat-btns .nav {
    border-bottom: 1px solid #161921; }

.chat-window {
  width: 100%;
  max-height: 5rem;
  margin-top: 0.5rem;
  background-color: #262f3f;
  border-radius: 4px;
  padding-left: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse; }

.chat-window p {
  margin-bottom: 0; }

#chat-input {
  height: 2rem;
  padding-top: 0;
  margin: 0.5rem 1rem;
  border-color: #1b202b;
  background: #262f3f;
  width: calc(100% - 2.25rem);
  resize: none !important; }

#chat-input:focus {
  filter: drop-shadow(0rem 0rem 0.1rem #7f7f7f) !important;
  border: none;
  color: rgba(255, 255, 255, 0.75); }

.form-control#chat-input:focus {
  box-shadow: none; }

.chat-input-btns {
  margin-left: -5.9rem !important;
  height: 2rem;
  padding-top: 0;
  margin-top: 0.55rem;
  line-height: 1.75rem;
  z-index: 100; }

.chat-input-btn {
  color: rgba(255, 255, 255, 0.75);
  background-color: #3b84df; }

#emoticon-btn {
  border: none;
  border-radius: 4px 0 0 4px;
  border-right: none; }

#chat-submit-btn {
  border-radius: 0 4px 4px 0;
  border: none;
  border-left: 1px solid #1b202b; }

.online-users {
  overflow-y: auto;
  padding-left: 1rem;
  max-height: 5rem;
  background-color: #212735; }

.card {
  max-width: 33%;
  background-color: #1b202b; }

.card-btn {
  background-color: #212735;
  text-align: center; }

.card-btn:hover {
  background-color: #262f3f; }

.card-img-top {
  max-width: 5rem;
  max-height: 8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem; }

.inventory-card-list {
  display: flex;
  justify-content: space-evenly; }

.inv-item {
  height: 5rem;
  width: 5rem;
  position: relative; }

.inv-img {
  max-height: 4rem;
  padding: 1rem;
  border: 0.25rem solid #161921;
  border-radius: 4px;
  position: relative; }

.inv-type-val {
  background: #172132;
  background: radial-gradient(circle, #172132 0%, #097579 50%, #172132 100%); }

.quantity {
  position: absolute;
  left: 25%;
  bottom: 20%; }
