.background-bg {
  background: rgb(12, 23, 62);
  background: radial-gradient(
    circle,
    rgba(12, 23, 62, 1) 0%,
    rgba(9, 117, 121, 1) 50%,
    rgba(12, 23, 62, 1) 90%
  );
  height: 100vh;
  min-height: -webkit-fill-available;
}

.login-container {
  margin-top: 33vh;
}
.login-card {
  background-color: #172132;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2) !important;
}
.login-header {
  text-align: center;
  font-size: 2rem;
  background-color: #172132;
  color: #d1d3d7;
}

.login-body {
  font-family: "Raleway", sans-serif;
  background-color: #192538;
  color: #d1d3d7;
}

.title-font {
  font-family: "Staatliches", cursive;
  text-shadow: 0 -5px 6px rgba(9, 117, 121, 0.64);
}

.form-control {
  background-color: #192538;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.form-control:focus {
  background-color: #172132;
  border-color: #097579;
  color: #d1d3d7;
  box-shadow: 0 0 0 1px rgba(9, 117, 121, 0.25);
}

.btn-primary {
  background-color: #097579;
  border-color: #097579;
}

.btn-primary:hover {
  background-color: #172132;
  border-color: #097579;
  color: #d1d3d7;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  background-color: #097579;
  border-color: #097579;
  color: #d1d3d7;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 3px rgba(9, 117, 121, 0.25);
}

.btn-secondary {
  background-color: #ef233c;
  border-color: #172132;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:focus {
  background-color: #172132;
}

.btn-secondary:hover {
  background-color: #172132;
  border-color: #097579;
  color: #d1d3d7;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 3px rgba(9, 117, 121, 0.25);
}

.btn:focus {
  box-shadow: 0 0 0 0.1px rgba(9, 117, 121, 0.25);
}

.sidebar {
  background-color: #172132;
  color: #d1d3d7;
  min-height: 100vh !important;
  border-right: 1px solid #097579;
  z-index: 0;
  position: fixed;
}

.nav-link:hover {
  color: #d1d3d7;
  border-bottom: 1px solid #097579;
  transition: border-color 0.5s ease, color 0.5s ease;
}
.nav-item {
  padding-left: 2px;
}
.nav-link {
  color: #097579;
  padding-left: 2px;
}

.navbar-dark {
  background-color: #172132 !important;
  z-index: 100;
}

.main-window {
  border-top: 1px solid #097579;
  /* width: 100%; */
  height: 100vh;
  background-color: #097579;
  border-right: 1px solid #097579;
}

.main-window-row {
  min-height: 20rem;
  /* max-height: 40rem; */
  height: 30rem;
}

.game-screen {
  background-color: #192538;
  min-width: 100%;
  /* height: 70vh; */
}
.chat-screen {
  height: 10%;
}
.chat-log {
  overflow-y: scroll;
  height: 10rem;
  /* height: 100%; */
}
.chat-sidebar {
  background-color: #172132;
  color: #d1d3d7;
}
.chat-category {
  border-bottom: 1px solid #097579;
  border-bottom-right-radius: 3px;
  background: #172132;
}

.bg-dark {
  background-color: #172132 !important;
  color: #d1d3d7;
}

.bg-medium {
  background-color: #192538;
}

.chat-userlist {
  overflow-y: auto;
  height: 9rem;
}
.chat-history {
  height: 6.5rem;
  overflow-y: auto;
  background-color: #192538;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column-reverse;
}

#chat-area {
  margin-top: 8px;
  height: 2rem;
}
.chat-submit-btns {
  margin-top: 6px;
  /* margin-left: -1rem; */
}
.chat-btn-group {
  padding-left: 1rem;
  padding-right: 6rem;
  padding-bottom: 1rem;
}

#chat-submit-btn {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
/* Index 2
*/

html,
body {
  height: 100%;
}
.game-window {
  overflow-y: scroll;
  max-height: 70vh;
  margin-bottom: -10%;
  /* overflow-y: scroll;
  min-height: 15rem;
  max-height: 25rem; */
  /* height: 23rem; */
}
.row {
  margin-left: auto;
  margin-right: auto;
}

footer {
  height: 24%;
  min-height: 10rem;
  margin-top: 10%;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* .game-window {
    overflow-y: scroll;
    max-height: 30rem !important;
  } */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .game-window {
    overflow-y: scroll;
    max-height: 30rem !important;
  } */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
